doctype html 
html(lang="en")
    head 
        title Landing Page
    body 
        h1 The future home of something magical! 
        p Goat goose hen horse. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Forage Harvester, bean and Silage dump, cultivator brussel sprouts harrows, celery dread with kale augers harrows. Coo with rabbit.Ect. Rooster celery pineapples fertilizer, a melon chirp pets in. Straw augers beef kettle our crickets. Combine Harvester swather, baler as haybine parsley, melon in hay rake. veterinarian blue berries cattle jelly canning. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Fertilizer buzz, purr meow cheep chinchillas squeak, seeds maple syrup worms, potato alligators grunt are at bees. Gate wind, moonshine horses meow irrigation , with feed troughs cheep, or cabbage with pumpki.