doctype html 
html(lang="en")
    head 
        title Flash Cards
    body
        header 
            h1 Flash Cards
        section#content 
            h2 Welcome, Student!
            table 
                tr 
                    th FirstName 
                    th LastName
                tr 
                    td Heather 
                    td Toal 
                tr 
                    td Sara 
                    td Clonk
                tr 
                    td Jane 
                    td Doe
                tr 
                    td Thomas 
                    td Jefferson
                tr 
                    td Hank
                    td Hill

                
        footer 
    